<form class="well" (submit)="addTask($event)">
    <div class="form-group">
        <label for="task_name">Task title</label>
        <input id="task_name" type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Tasks...">
    </div>
    <div class="form-group">
        <label for="task_desk">Task description</label>
        <textarea class="form-control" [(ngModel)]="description" name="description" id="task_desk" cols="30" rows="10"></textarea>
    </div>
</form>

<div class="task-list">
    <div *ngFor="let task of tasks" class="clearfix">
        <div class="col-md-1">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
        </div>

        <div class="col-md-7">
            <p>{{task.title}}</p>
            <p>{{task.description}}</p>
        </div>

        <div class="col-md-4">
            <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">
        </div>
        <br><br>
    </div>
</div>